/*!
 * Bootstrap v4.3.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 The Bootstrap Authors
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

@import "functions";
@import "variables";
@import "mixins";
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "nav";
@import "navbar";
@import "card";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "jumbotron";
@import "alert";
@import "progress";
@import "media";
@import "list-group";
@import "close";
@import "toasts";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "spinners";
@import "utilities";
@import "print";
@import "./reset";

$color_gray: #F0F0F0;
$color_black: #121212;
$color_pink: #E4C1AE;

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color_gray;
    width: 100vw;
    height: 100vh;
    font-family: Roboto;
}

.container {
    background-color: $white;
}

.picture {
    &Wrapper {
        margin: 0 -15px;
        height: 100%;
    }

    &Area_image {
        width: 100%;
        max-width: 100%;
        height: 100%;
    }
}

.textArea {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    max-width: 350px;
    padding-top: 100px;
    padding-bottom: 100px;

    @media screen and (min-width: 768px) {
            padding-top: 10px;
            padding-bottom: 10px;
        }

    @media screen and (min-width: 992px) {
            padding-top: 86px;
            padding-bottom: 69px;
        }
        

    &_heading {
        font-size: 42px;
        font-weight: 700;
        text-transform: capitalize;
        letter-spacing: 0px;
        color: $color_black;
    }

    &_subheading {
        margin-top: 43px;
        font-size: 16px;
        letter-spacing: 0px;
        color: $color_black;
    }

    &_button {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        font-size: 16px;
        padding: 14px 0;
        width: 135px;
        border-radius: 30px;
        text-transform: capitalize;
        margin-top: 35px;
        font: normal normal bold 16px/26px Roboto;
        letter-spacing: 0px;
        border: none;
        background-color: $color_pink;
        color: $white;

        @media screen and (min-width: 768px) {
            align-self: flex-end;
        }
    }
}

