<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Final CSS -->
    <link rel="stylesheet" href="assets/dist/custom_copy.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">

    <title>Hello!</title>
  </head>
  <body>

    <div class="container">
        <div class="row">
          {% block content %}
            <div class="col-12 col-sm-12 col-md-6">
              <div class="pictureWrapper">
                <picture>
                  <img class="pictureArea_image"
                      srcset="{{ box.images_default.small.url }} {{ box.images_default.small.width }}w,
                              {{ box.images_default.medium.url }} {{ box.images_default.medium.width }}w"
                              
                      sizes="(max-width: 576px) {{ box.images_default.small.width }}px,
                              (max-width: 992px) {{ box.images_default.medium.width }}px,
                              800px"
                      src="{{ box.images_default.large.url }}" 
                      alt="picture"
                    >
                  </picture>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <div class="textArea">
                <p class="textArea_heading">{{ box.title }}</p>
                <p class="textArea_subheading">{{ box.content }}</p>
                <button class="textArea_button" data-toggle="tooltip" data-placement="top" title="Hello world">{{ box.buttonName }}</button>
              </div>
            </div>
          {% endblock %}
      </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Final JS -->
    <script src="assets/dist/all.js?cb=1566213680541"></script>
  </body>
</html>