/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* main css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    width: 100vw;
    height: 100vh;
}

.container {
    background-color: #fff;
}

.pictureWrapper {
    margin: 0 -15px;
    height: 100%;
}

.pictureArea_image {
    width: 100%;
    max-width: 100%;
    height: 100%;
}

.textArea {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    max-width: 350px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.textAtea_heading {
    font-size: 42px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0px;
    color: #121212;
}

.textArea_subheading {
    margin-top: 43px;
    font-size: 16px;
    letter-spacing: 0px;
    color: #121212;
}

.textArea_button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 16px;
    padding: 14px 0;
    width: 135px;
    border-radius: 30px;
    text-transform: capitalize;
    margin-top: 35px;
    font: normal normal bold 16px/26px Roboto;
    letter-spacing: 0px;
    border: none;
    background-color: #E4C1AE;
    color: #FFFFFF;
}

@media screen and (min-width: 768px) {
    .textArea {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .textArea_button {
        align-self: flex-end;
    }
}

@media screen and (min-width: 992px) {
    .textArea {
        padding-top: 86px;
        padding-bottom: 69px;
    }
}
