{# Variables:
    - title
    - box
        - title
        - content
        - images_default
            - large | medium | small
                - url
                - width
                - height
        - images
            - url
            - width
            - height
#}

{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>
<h2>{{ box.title }}</h2>
<p>{{ box.content }}</p>
 
<!-- Display all named images -->
{% for size, image in box.images_default %}
    <figure style="display: inline-block">
        <img src="{{ image.url }}" alt="" style="max-width: 250px">
        <figcaption>Image size: {{ size }}, {{ image.width }}x{{ image.height }}px</figcaption>
    </figure>
{% endfor %}
<hr>
<!-- Display all images -->
{% for key, image in box.images %}
    <figure style="display: inline-block">
        <img src="{{ image.url }}" alt="" style="max-width: 250px">
        <figcaption>Image key: {{ key }}, {{ image.width }}x{{ image.height }}px</figcaption>
    </figure>
{% endfor %}

{% endblock %}